<div class="mb-(--spacing-lg) flex justify-end">
    <button class="btn btn-primary" id="addNuevoProveedorBtn">
        <svg
            class="btn-icon"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
        >
            <line x1="12" y1="5" x2="12" y2="19"></line>
            <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        Nuevo Proveedor
    </button>
</div>

<script>
    document
        .getElementById("addNuevoProveedorBtn")
        ?.addEventListener("click", () => {
            document
                .getElementById("subProveedorModal")
                ?.classList.add("active");
        });
</script>
