<!-- Sidebar con Dropdowns -->
<aside class="sidebar" id="sidebar">
    <nav class="sidebar-nav">
        <!-- Sección Principal -->
        <div class="nav-section">
            <div class="nav-section-title">Principal</div>

            <!-- Dashboard - Item simple -->
            <div class="nav-item active">
                <div
                    class="nav-item-content"
                    id="dashboard-link"
                    data-route="/dashboard"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
                        ></path>
                    </svg>
                    <span class="nav-text">Dashboard</span>
                </div>
            </div>

            <!-- Almacén - Con dropdown -->
            <div class="nav-item nav-dropdown" data-dropdown="almacen">
                <div class="nav-item-content">
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M6 12c.263 0 .524-.06.767-.175a2 2 0 0 0 .65-.491c.186-.21.333-.46.433-.734.1-.274.15-.568.15-.864a2.4 2.4 0 0 0 .586 1.591c.375.422.884.659 1.414.659.53 0 1.04-.237 1.414-.659A2.4 2.4 0 0 0 12 9.736a2.4 2.4 0 0 0 .586 1.591c.375.422.884.659 1.414.659.53 0 1.04-.237 1.414-.659A2.4 2.4 0 0 0 16 9.736c0 .295.052.588.152.861s.248.521.434.73a2 2 0 0 0 .649.488 1.809 1.809 0 0 0 1.53 0 2.03 2.03 0 0 0 .65-.488c.185-.209.332-.457.433-.73.1-.273.152-.566.152-.861 0-.974-1.108-3.85-1.618-5.121A.983.983 0 0 0 17.466 4H6.456a.986.986 0 0 0-.93.645C5.045 5.962 4 8.905 4 9.736c.023.59.241 1.148.611 1.567.37.418.865.667 1.389.697Zm0 0c.328 0 .651-.091.94-.266A2.1 2.1 0 0 0 7.66 11h.681a2.1 2.1 0 0 0 .718.734c.29.175.613.266.942.266.328 0 .651-.091.94-.266.29-.174.537-.427.719-.734h.681a2.1 2.1 0 0 0 .719.734c.289.175.612.266.94.266.329 0 .652-.091.942-.266.29-.174.536-.427.718-.734h.681c.183.307.43.56.719.734.29.174.613.266.941.266a1.819 1.819 0 0 0 1.06-.351M6 12a1.766 1.766 0 0 1-1.163-.476M5 12v7a1 1 0 0 0 1 1h2v-5h3v5h7a1 1 0 0 0 1-1v-7m-5 3v2h2v-2h-2Z"
                        ></path>
                    </svg>
                    <span class="nav-text">Almacén</span>
                </div>
                <svg
                    class="nav-chevron"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                >
                    <polyline points="6,9 12,15 18,9"></polyline>
                </svg>
            </div>
            <div class="nav-submenu" id="almacen-submenu">
                <a
                    href="#"
                    class="nav-subitem"
                    id="inventario-link"
                    data-route="/inventario"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 12v1h4v-1m4 7H6a1 1 0 0 1-1-1V9h14v9a1 1 0 0 1-1 1ZM4 5h16a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                        ></path>
                    </svg>
                    <span class="nav-subtext">Inventario</span>
                </a>
                <a
                    href="#"
                    class="nav-subitem"
                    id="entrada-link"
                    data-route="/entrada"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 11v5m0 0 2-2m-2 2-2-2M3 6v1a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Zm2 2v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8H5Z"
                        ></path>
                    </svg>
                    <span class="nav-subtext">Entrada</span>
                </a>
            </div>

            <!-- Movimientos - Con dropdown -->
            <div class="nav-item nav-dropdown" data-dropdown="movimientos">
                <div class="nav-item-content">
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 16h13M4 16l4-4m-4 4 4 4M20 8H7m13 0-4 4m4-4-4-4"
                        ></path>
                    </svg>
                    <span class="nav-text">Movimientos</span>
                </div>
                <svg
                    class="nav-chevron"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                >
                    <polyline points="6,9 12,15 18,9"></polyline>
                </svg>
            </div>
            <div class="nav-submenu" id="movimientos-submenu">
                <a
                    href="#"
                    class="nav-subitem"
                    id="transacciones-link"
                    data-route="/transacciones"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M11 9h6m-6 3h6m-6 3h6M6.996 9h.01m-.01 3h.01m-.01 3h.01M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Z"
                        ></path>
                    </svg>
                    <span class="nav-subtext">Transacciones</span>
                </a>
                <a
                    href="#"
                    class="nav-subitem"
                    id="clientes-link"
                    data-route="/clientes"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-width="2"
                            d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"
                        ></path>
                    </svg>
                    <span class="nav-subtext">Clientes</span>
                </a>
            </div>

            <!-- Personal - Item simple -->
            <div class="nav-item">
                <div
                    class="nav-item-content"
                    id="personal-link"
                    data-route="/personal"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M15 9h3m-3 3h3m-3 3h3m-6 1c-.306-.613-.933-1-1.618-1H7.618c-.685 0-1.312.387-1.618 1M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm7 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
                        ></path>
                    </svg>
                    <span class="nav-text">Personal</span>
                </div>
            </div>
        </div>

        <!-- Sección Negocio -->
        <div class="nav-section">
            <div class="nav-section-title">Negocio</div>

            <!-- Analytics - Item simple -->
            <div class="nav-item">
                <div class="nav-item-content" id="pos-link" data-route="/pos">
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M5 18h14M5 18v3h14v-3M5 18l1-9h12l1 9M16 6v3m-4-3v3m-2-6h8v3h-8V3Zm-1 9h.01v.01H9V12Zm3 0h.01v.01H12V12Zm3 0h.01v.01H15V12Zm-6 3h.01v.01H9V15Zm3 0h.01v.01H12V15Zm3 0h.01v.01H15V15Z"
                        ></path>
                    </svg>
                    <span class="nav-text">Punto de venta</span>
                </div>
            </div>

            <!-- Analytics - Item simple -->
            <div class="nav-item">
                <div
                    class="nav-item-content"
                    id="invoice-link"
                    data-route="/invoice"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 3v4a1 1 0 0 1-1 1H5m8-2h3m-3 3h3m-4 3v6m4-3H8M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1ZM8 12v6h8v-6H8Z"
                        ></path>
                    </svg>
                    <span class="nav-text">Generar factura</span>
                </div>
            </div>
        </div>

        <!-- Sección Configuración -->
        <div class="nav-section">
            <div class="nav-section-title">Configuración</div>

            <!-- Configuración - Con dropdown -->
            <div class="nav-item nav-dropdown" data-dropdown="configuracion">
                <div class="nav-item-content">
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z"
                        ></path>
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                    </svg>
                    <span class="nav-text">Configuración</span>
                </div>
                <svg
                    class="nav-chevron"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                >
                    <polyline points="6,9 12,15 18,9"></polyline>
                </svg>
            </div>
            <div class="nav-submenu" id="configuracion-submenu">
                <a
                    href="#"
                    class="nav-subitem"
                    id="perfil-link"
                    data-route="/perfil"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-width="2"
                            d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                        ></path>
                    </svg>
                    <span class="nav-subtext">Perfil</span>
                </a>
                <a
                    href="#"
                    class="nav-subitem"
                    id="mantenimiento-link"
                    data-route="/mantenimiento"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 14v3m-3-6V7a3 3 0 1 1 6 0v4m-8 0h10a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-7a1 1 0 0 1 1-1Z"
                        ></path>
                    </svg>
                    <span class="nav-subtext">Mantenimiento</span>
                </a>
            </div>

            <!-- Soporte - Item simple -->
            <div class="nav-item">
                <div
                    class="nav-item-content"
                    id="soporte-link"
                    data-route="/soporte"
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                        ></path>
                    </svg>
                    <span class="nav-text">Soporte</span>
                </div>
            </div>
        </div>
    </nav>
</aside>

<script>
    const navDropdowns = document.querySelectorAll(".nav-dropdown");

    navDropdowns.forEach((dropdown) => {
        const dropdownId = dropdown.getAttribute("data-dropdown");
        const submenu = document.getElementById(`${dropdownId}-submenu`);

        dropdown.addEventListener("click", function () {
            toggleNavDropdown(dropdown, submenu);
        });
    });

    function toggleNavDropdown(dropdown: Element, submenu: HTMLElement | null) {
        const isExpanded = dropdown.classList.contains("expanded");
        const navDropdowns = document.querySelectorAll(".nav-dropdown");

        // Close all other nav dropdowns
        navDropdowns.forEach((navDropdown) => {
            if (navDropdown !== dropdown) {
                navDropdown.classList.remove("expanded");
                const otherDropdownId =
                    navDropdown.getAttribute("data-dropdown");
                if (otherDropdownId) {
                    const otherSubmenu = document.getElementById(
                        `${otherDropdownId}-submenu`,
                    );
                    if (otherSubmenu) {
                        otherSubmenu.classList.remove("expanded");
                    }
                }
            }
        });

        // Toggle current dropdown
        if (isExpanded) {
            dropdown.classList.remove("expanded");
            if (submenu) submenu.classList.remove("expanded");
        } else {
            dropdown.classList.add("expanded");
            if (submenu) submenu.classList.add("expanded");
        }
    }

    function animateDropdownOpen(dropdown: Element) {
        const content = dropdown.querySelector(
            ".dropdown-content",
        ) as HTMLElement | null;
        if (!content) return;

        const items = content.querySelectorAll(
            ".dropdown-item, .notification-item",
        );

        // Reset and animate content
        content.style.opacity = "0";
        content.style.transform = "translateY(-10px) scale(0.95)";

        setTimeout(() => {
            content.style.opacity = "1";
            content.style.transform = "translateY(0) scale(1)";
            content.style.transition = "all 0.3s cubic-bezier(0.4, 0, 0.2, 1)";
        }, 10);

        // Animate items with stagger
        items.forEach((item, index) => {
            if (item instanceof HTMLElement) {
                item.style.opacity = "0";
                item.style.transform = "translateX(-10px)";

                setTimeout(
                    () => {
                        item.style.opacity = "1";
                        item.style.transform = "translateX(0)";
                        item.style.transition = "all 0.2s ease-out";
                    },
                    100 + index * 30,
                );
            }
        });
    }

    function animateDropdownClose(dropdown: Element) {
        const content = dropdown.querySelector(
            ".dropdown-content",
        ) as HTMLElement | null;
        if (content) {
            content.style.opacity = "0";
            content.style.transform = "translateY(-10px) scale(0.95)";
        }
    }
</script>

<script>
    /* Manejo de links */
    const links = {
        dashboard: document.getElementById("dashboard-link"),
        Inventario: document.getElementById("inventario-link"),
        entrada: document.getElementById("entrada-link"),
        transacciones: document.getElementById("transacciones-link"),
        clientes: document.getElementById("clientes-link"),
        personal: document.getElementById("personal-link"),
        pos: document.getElementById("pos-link"),
        invoice: document.getElementById("invoice-link"),
        perfil: document.getElementById("perfil-link"),
        mantenimiento: document.getElementById("mantenimiento-link"),
        soporte: document.getElementById("soporte-link"),
    };

    Object.values(links).forEach((link) => {
        if (link) {
            link.addEventListener("click", (e) => {
                e.preventDefault();
                const route = link.dataset.route;
                if (route) {
                    window.location.href = route;
                }
            });
        }
    });
</script>

<style>
    /* Sidebar todavia sin editar */
    .sidebar {
        width: var(--sidebar-width);
        background: var(--bg-primary);
        border-right: 1px solid var(--border-color);
        transition: all var(--transition-medium);
        overflow: hidden;
        position: fixed;
        left: 0;
        top: var(--topbar-height);
        bottom: 0;
        z-index: 100;
    }

    .sidebar.collapsed {
        width: var(--sidebar-collapsed-width);
    }

    .sidebar-nav {
        padding: var(--spacing-lg) 0;
        height: 100%;
        overflow-y: auto;
    }

    .nav-section {
        margin-bottom: var(--spacing-xl);
    }

    .nav-section-title {
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--text-muted);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding: 0 var(--spacing-lg);
        margin-bottom: var(--spacing-md);
        transition: all var(--transition-medium);
    }

    .sidebar.collapsed .nav-section-title {
        display: none;
    }

    /* Navigation Items */
    .nav-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-sm) var(--spacing-lg);
        margin: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--radius-md);
        cursor: pointer;
        transition: all var(--transition-fast);
        color: var(--text-secondary);
        position: relative;
        animation: slideIn 0.6s ease-out forwards;
    }

    .nav-item:hover {
        background-color: var(--bg-secondary);
        color: var(--text-primary);
        transform: translateX(2px);
    }

    .nav-item.active {
        background-color: rgba(59, 130, 246, 0.1);
        color: var(--primary-color);
    }

    .nav-item.active::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 20px;
        background-color: var(--primary-color);
        border-radius: 0 2px 2px 0;
    }

    .nav-item-content {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        flex: 1;
    }

    .nav-icon {
        width: 20px;
        height: 20px;
        stroke-width: 2;
        flex-shrink: 0;
        transition: all var(--transition-fast);
    }

    .nav-item:hover .nav-icon {
        transform: scale(1.1);
    }

    .nav-text {
        font-size: 0.875rem;
        font-weight: 500;
        transition: all var(--transition-medium);
        white-space: nowrap;
    }

    .sidebar.collapsed .nav-text {
        display: none;
    }

    /* Navigation Chevron */
    .nav-chevron {
        width: 16px;
        height: 16px;
        stroke-width: 2;
        transition: all var(--transition-medium);
        flex-shrink: 0;
    }

    .nav-dropdown.expanded .nav-chevron {
        transform: rotate(180deg);
    }

    .sidebar.collapsed .nav-chevron {
        display: none;
    }

    .sidebar.collapsed .nav-item {
        justify-content: center;
        padding: var(--spacing-sm) 0;
    }

    .sidebar.collapsed .nav-item-content {
        justify-content: center;
        gap: 0;
        flex: 0;
    }

    /* Submenu Styles */
    .nav-submenu {
        max-height: 0;
        overflow: hidden;
        transition: all var(--transition-medium) cubic-bezier(0.4, 0, 0.2, 1);
        background-color: rgba(0, 0, 0, 0.02);
        margin: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--radius-md);
        opacity: 0;
        transform: translateY(-10px);
    }

    [data-theme="dark"] .nav-submenu {
        background-color: rgba(255, 255, 255, 0.02);
    }

    .nav-submenu.expanded {
        max-height: 300px;
        padding: var(--spacing-sm) 0;
        opacity: 1;
        transform: translateY(0);
    }

    .nav-subitem {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        padding: var(--spacing-sm) var(--spacing-lg);
        margin: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--radius-sm);
        text-decoration: none;
        color: var(--text-muted);
        font-size: 0.8rem;
        transition: all var(--transition-fast);
        position: relative;
        opacity: 0;
        transform: translateX(-10px);
    }

    .nav-submenu.expanded .nav-subitem {
        animation: slideInLeft 0.3s ease-out forwards;
    }

    .nav-subitem:nth-child(1) {
        animation-delay: 0.05s;
    }
    .nav-subitem:nth-child(2) {
        animation-delay: 0.1s;
    }
    .nav-subitem:nth-child(3) {
        animation-delay: 0.15s;
    }
    .nav-subitem:nth-child(4) {
        animation-delay: 0.2s;
    }

    .nav-subitem:hover {
        background-color: var(--bg-secondary);
        color: var(--text-primary);
        transform: translateX(4px);
    }

    .nav-subitem.active {
        background-color: rgba(59, 130, 246, 0.1);
        color: var(--primary-color);
    }

    .nav-subicon {
        width: 16px;
        height: 16px;
        stroke-width: 2;
        flex-shrink: 0;
        transition: all var(--transition-fast);
    }

    .nav-subitem:hover .nav-subicon {
        transform: scale(1.1);
    }

    .nav-subtext {
        font-weight: 500;
        white-space: nowrap;
    }

    .sidebar.collapsed .nav-submenu {
        display: none;
    }
</style>
